<launch>
<rosparam param="CHI">     1.75 </rosparam>
<rosparam param="Inv_RATIO">     38.7 </rosparam>

<node pkg="tf" type="static_transform_publisher" name="odom2world" args="0.205969575 -0.526121639 -0.323049581 -0.013766332 0.013325286 -0.554693347 0.831834248  odom world 100" />
<!-- <node pkg="tf" type="static_transform_publisher" name="world2odom" args="-0.567088690 -0.000009709 0.319372658 0.013766332 -0.013325286 0.554693347 0.831834248  world odom 100" /> -->

<!-- Run  the node that reads the wheels velocities from the bag and publishes the Twist message-->
<node pkg = "project1" name = "velpubsub" type = "velpubsub" output="screen" />

<!-- Run the pose node. Theta must be in radians -->
<node pkg = "project1" name = "odompubsub" type = "odompubsub" output="screen">
    <rosparam param="x_init">     -2.28603390243 </rosparam>
    <rosparam param="y_init">     -1.44419248415 </rosparam>
    <rosparam param="theta_init"> -1.823 </rosparam>
</node>

<node pkg = "project1" name = "residuals" type = "residuals" output="screen" />

</launch>