<launch>
  <param name="/use_sim_time" value="true"/>

  
  <include file="$(find project2)/launch/transforms.launch"/>

 <!-- Gmapping -->
  <node pkg="gmapping" type="slam_gmapping" name="gmap" output="screen">
    <param name="base_frame" value="camera_pose_frame"/>
    <param name="odom_frame" value="camera_odom_frame"/>
    <param name="maxUrange" value="20.0"/>
    <param name="maxRange" value="20.5"/>
  </node>


  <!--  **************** Visualisation ****************  -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find project2)/config/gmapping.rviz"/>
</launch>

