<launch>

  <node pkg="tf" type="static_transform_publisher" name="cmap2camOdom" args="0 0 0 0 0 0 1 map camera_odom_frame 100"/>
  <node pkg="tf" type="static_transform_publisher" name="cameraPose2BL" args="0 0 0 0 0 0 1 scout/base_link base_link 100"/>
  <node pkg="tf" type="static_transform_publisher" name="baseLink2laser" args="0 0 0 0 0 0.70710678 0.70710678 scout/base_link laser 100"/>
  
</launch>

